@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #ffffff;
    --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
.account-edit-editbutton {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 12px 20px; 
  font-size: 16px;
  height: 40px; 
  width: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: black;
  transition: background-color 0.3s ease;
}
.account-edit-editbutton:hover {
  background-color: #444; 
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

button {
  transition: all 0.2s ease-in-out;
}

input {
  border: 2px solid #FB923C; 
  border-radius: 8px;        
}

button:active {
  transform: scale(0.90);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#__next {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    flex: 1;
}
